@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    display :flex;
    width:100%;
    justify-content:center;
    align-items:center;
    background-color: aliceblue;
}
.container h1{
    font-size: 5rem;
    color: black;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
